*
{
    padding: 0px;
    margin: 0px;
}
header{
    background-image: url("sunset.jpg");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.main
{
    max-width: 1100px;
    margin: auto;
}
ul{
    list-style-type: none;
    float: right;
    margin: 25px;
}
ul li{
    display: inline-block;
    border: 1px solid transparent;
}
ul li a{
    color: white;
    text-decoration: none;
    display: block;
    padding: 5px;
}
ul li a:hover
{
    background-color: white;
    color: black;
    transition: 0.6s ease;
}
.active
{
    background-color: white;
    color: black;
}
.logo img{
    margin-top: 25px;
}
.center_text
{
    margin-top: 250px;
    margin-left: 530px;
}
h1{
    color: white;
}
h5{
    color: aliceblue;
}
#bt2{
    border: 1px solid white;
    color: white;
    padding: 10px;
    text-align: center;
    margin-left: 5px;
    text-decoration: none;
}
#bt2:hover{
    background-color: white;
    color: black;
    transition: 0.6s ease;
}
.container{
    max-width: 1170px;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
ul{
    list-style: none;
}
footer{
    background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
    width: 25%;
    padding: 0 15px;
}
.footer-col{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}
.footer-col h4::before{
    content: '';
    position: relative;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    color: #24262b;
    padding-left: 8px;
}
.footer-col .social-link a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin:0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}
.footer-col .social-link a:hover{
    color: #24262b;
    background-color: #ffffff;
}
@media(max-width:767px){
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
}
@media(max-width:574px){
    .footer-col{
        width: 100%;
    }
}